<h4>
	Users Admin Tool
</h4>
<div id="frameMenu">
	<input id="txtSearch" type="text" placeholder="User Search" /> <!--search box-->
	<button id="btnUserSearch" class="btn btn-lg btn-primary" disabled="disabled">Search</button> <!--search button-->
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<button id="btnUserCreate" class="btn btn-lg btn-primary">Create</button> <!--Create button-->
	<button id="btnUserEdit" class="btn btn-lg btn-primary" disabled="disabled">Edit</button> <!--Edit button-->
	<button id="btnUserDelete" class="btn btn-lg btn-primary" disabled="disabled">Delete</button> <!--Delete button-->
</div>
<div id="frameMain"></div>
<div id="frameDetails"></div>

