<h4>View/Edit User
  <div id="formDV_ShowDetails" >
    <form>
	  <fieldset>
        <input id="inputDV_id" type="text" style="display:none;"/><br/>
		Username: <input id="inputDV_UserName" type="text" placeholder="Username"/><br/>
        email: <input id="inputDV_UserEmail" type="text" placeholder="Email"/><br/>
        password: <input id="inputDV_UserPassword" type="password" placeholder="Password"/><br/>
        <button id="btnDV_Save" style="display:none;" >Save</button>
		<button id="btnDV_Cancel" style="display:none;" >Cancel</button>
		<button id="btnDV_Close" style="display:none;" >Close</button>
      </fieldset>
	</form>
  </div>
</h4>